<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <!-- <title>SmartShopping</title> -->
    <link rel="icon" href="../static/WebIcon.jpg" type="image/icon type">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <!-- Add navbar -->
    <div
      id="J_LzdSiteNav"
    >
      <div
        class="lzd-header lzd-header-lite"
        data-spm="header"
        data-tag="links"
      >
        <div class="lzd-header-content">
          <div class="lzd-logo-bar">
            <div class="logo-bar-content header-content">
              <div class="lzd-logo-content">
                <a href="//www.lazada.vn/" data-spm="dhome"
                  ><img src="../static/Icon.png" alt="SmartShopping Logo"
                /></a>
              </div>

              <div class="lzd-nav-search" data-spm="search">
                <div class="layout-search-box--qK-K">
                  <form
                    method="POST"
                  >
                    <div class="search-box--2I2a">
                      <div class="search-box__bar--29h6">
                        <input
                          type="search"
                          id="q"
                          name="search_key"
                          placeholder="Tìm kiếm sản phẩm"
                          class="search-box__input--O34g"
                        />
                      </div>
                      <div class="search-box__search--2fC5">
                        <button
                          type="submit"
                          class="search-box__button--1oH7"
                        >
                          SEARCH
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      data-view-id="product_list_container"
      class="ProductList__Wrapper-sc-1dl80l2-0 Kxajl"
    >
      <!-- List item -->
      {% block content %}
      {% endblock %}
  </body>
</html>
