{% extends "base.html" %}  {% block title %} {{title}} giá tốt {% endblock %}
{% block content %}
<div
  data-view-id="product_list_container"
  class="ProductList__Wrapper-sc-1dl80l2-0 Kxajl"
>
  {% for item in items %} 
  <a
    class="product-item"
    href={{ item["clickUrl"] }}
    data-view-index="0"
    data-view-id="product_list_item"
    rel="nofollow"
    style="height: 100%"
  >
    <div class="style__StyledItem-sc-18svp8n-0 fkDgwT">
      <div class="thumbnail">
        <img src={{item["thumbnail_url"]}} loading = "lazy"/>
      </div>
      <div class="info">
        <div class="name">
          <span> {{item["name"]}} </span>
        </div>
        <div
          class="styles__StyledRatingQtySold-sc-732h27-0 uDeVr"
          style="margin-top: 2px; margin-bottom: 2px"
        >
          <div class="full-rating">
            <div class="total">
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                size="14"
                color="#c7c7c7"
                height="14"
                width="14"
                xmlns="http://www.w3.org/2000/svg"
                style="color: rgb(199, 199, 199)"
              >
                <path
                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path>
              </svg>
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                size="14"
                color="#c7c7c7"
                height="14"
                width="14"
                xmlns="http://www.w3.org/2000/svg"
                style="color: rgb(199, 199, 199)"
              >
                <path
                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path>
              </svg>
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                size="14"
                color="#c7c7c7"
                height="14"
                width="14"
                xmlns="http://www.w3.org/2000/svg"
                style="color: rgb(199, 199, 199)"
              >
                <path
                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path>
              </svg>
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                size="14"
                color="#c7c7c7"
                height="14"
                width="14"
                xmlns="http://www.w3.org/2000/svg"
                style="color: rgb(199, 199, 199)"
              >
                <path
                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path>
              </svg>
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                size="14"
                color="#c7c7c7"
                height="14"
                width="14"
                xmlns="http://www.w3.org/2000/svg"
                style="color: rgb(199, 199, 199)"
              >
                <path
                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path>
              </svg>
            </div>
            <div
              class="average"
              style="
                width: {{item["rating_average"]}}%
              "
            >
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                size="14"
                color="#fdd836"
                height="14"
                width="14"
                xmlns="http://www.w3.org/2000/svg"
                style="color: rgb(253, 216, 54)"
              >
                <path
                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path>
              </svg>
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                size="14"
                color="#fdd836"
                height="14"
                width="14"
                xmlns="http://www.w3.org/2000/svg"
                style="color: rgb(253, 216, 54)"
              >
                <path
                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path>
              </svg>
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                size="14"
                color="#fdd836"
                height="14"
                width="14"
                xmlns="http://www.w3.org/2000/svg"
                style="color: rgb(253, 216, 54)"
              >
                <path
                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path>
              </svg>
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                size="14"
                color="#fdd836"
                height="14"
                width="14"
                xmlns="http://www.w3.org/2000/svg"
                style="color: rgb(253, 216, 54)"
              >
                <path
                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path>
              </svg>
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                size="14"
                color="#fdd836"
                height="14"
                width="14"
                xmlns="http://www.w3.org/2000/svg"
                style="color: rgb(253, 216, 54)"
              >
                <path
                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="styles__StyledSeparator-sc-732h27-1 gcwbHk"></div>
          <div class="styles__StyledQtySold-sc-732h27-2 fCfYNm">
            Đã bán {{item["sold"]}}
          </div>
        </div>
      </div>
      <div class="price">{{item["price"]}} đ</div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
